https://www.toutiao.com/a7041732456914895373/?log_from=f767f036c5a2f_1639668560474

In [57]:
import pandas as pd
import numpy as np

In [58]:
data ={'姓名':[' 黄同学','黄至尊 ','黄老邪','陈大美','孙尚香'],
     '英文名':['Huang tong_xue','huang zhi_zun','Huang Lao_xie','Chen Da_mei','sun shang_xiang'],
     '性别':['男','women','men','女','男'],
     '身份证':['463895200003128433','429475199912122345','420934199110102311','431085200005230122','420953199509082345'],
     '身高':['mid:175_good','low:165_bad','low:159_bad','high:180_verygood','low:172_bad'],
     '家庭住址':['湖北广水','河南信阳','广西桂林','湖北孝感','广东广州'],
     '电话号码':['13434813546','19748672895','16728613064','14561586431','19384683910'],
     '收入':['1.1万','8.5千','0.9万','6.5千','2.0万']}

In [59]:
df = pd.DataFrame(data)
df

,姓名,英文名,性别,身份证,身高,家庭住址,电话号码,收入
0,黄同学,Huang tong_xue,男,463895200003128433,mid:175_good,湖北广水,13434813546,1.1万
1,黄至尊,huang zhi_zun,women,429475199912122345,low:165_bad,河南信阳,19748672895,8.5千
2,黄老邪,Huang Lao_xie,men,420934199110102311,low:159_bad,广西桂林,16728613064,0.9万
3,陈大美,Chen Da_mei,女,431085200005230122,high:180_verygood,湖北孝感,14561586431,6.5千
4,孙尚香,sun shang_xiang,男,420953199509082345,low:172_bad,广东广州,19384683910,2.0万

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   姓名      5 non-null      object
 1   英文名     5 non-null      object
 2   性别      5 non-null      object
 3   身份证     5 non-null      object
 4   身高      5 non-null      object
 5   家庭住址    5 non-null      object
 6   电话号码    5 non-null      object
 7   收入      5 non-null      object
dtypes: object(8)
memory usage: 448.0+ bytes

### Series.str.cat(self, others=None, sep='', na_rep=None, join='left')

In [61]:
df.姓名.str.cat(df['家庭住址'], sep='-'*3)

0     黄同学---湖北广水
1    黄至尊 ---河南信阳
2     黄老邪---广西桂林
3     陈大美---湖北孝感
4     孙尚香---广东广州
Name: 姓名, dtype: object

In [62]:
df

,姓名,英文名,性别,身份证,身高,家庭住址,电话号码,收入
0,黄同学,Huang tong_xue,男,463895200003128433,mid:175_good,湖北广水,13434813546,1.1万
1,黄至尊,huang zhi_zun,women,429475199912122345,low:165_bad,河南信阳,19748672895,8.5千
2,黄老邪,Huang Lao_xie,men,420934199110102311,low:159_bad,广西桂林,16728613064,0.9万
3,陈大美,Chen Da_mei,女,431085200005230122,high:180_verygood,湖北孝感,14561586431,6.5千
4,孙尚香,sun shang_xiang,男,420953199509082345,low:172_bad,广东广州,19384683910,2.0万

### contains查看是否含有某个字段

In [63]:
df.家庭住址.str.contains('广')

0     True
1    False
2     True
3    False
4     True
Name: 家庭住址, dtype: bool

### 以什么开头，以什么结尾

In [64]:
df.姓名.str.startswith('黄')

0    False
1     True
2     True
3    False
4    False
Name: 姓名, dtype: bool

In [65]:
df.英文名.str.endswith('e')

0     True
1    False
2     True
3    False
4    False
Name: 英文名, dtype: bool

### 计算字符串中某个字符出现的次数

In [66]:
df.电话号码.str.count('3')

0    3
1    0
2    1
3    1
4    2
Name: 电话号码, dtype: int64

### 准确获取字符串某个位置上的字符

In [67]:
df['姓名'].str.get(-1)

0    学
1
2    邪
3    美
4    香
Name: 姓名, dtype: object

In [68]:
df

,姓名,英文名,性别,身份证,身高,家庭住址,电话号码,收入
0,黄同学,Huang tong_xue,男,463895200003128433,mid:175_good,湖北广水,13434813546,1.1万
1,黄至尊,huang zhi_zun,women,429475199912122345,low:165_bad,河南信阳,19748672895,8.5千
2,黄老邪,Huang Lao_xie,men,420934199110102311,low:159_bad,广西桂林,16728613064,0.9万
3,陈大美,Chen Da_mei,女,431085200005230122,high:180_verygood,湖北孝感,14561586431,6.5千
4,孙尚香,sun shang_xiang,男,420953199509082345,low:172_bad,广东广州,19384683910,2.0万

### 将字符串分割，返回列表

In [69]:
df.身高.str.split(':')

0         [mid, 175_good]
1          [low, 165_bad]
2          [low, 159_bad]
3    [high, 180_verygood]
4          [low, 172_bad]
Name: 身高, dtype: object

### split结合get得到元素

In [70]:
df.身高.str.split(':').str.get(0)

0     mid
1     low
2     low
3    high
4     low
Name: 身高, dtype: object

### 获取字符串的长度

In [71]:
df.性别.str.len()

0    1
1    5
2    3
3    1
4    1
Name: 性别, dtype: int64

### 字符串转换大小写

In [72]:
df.英文名.str.upper()

0     HUANG TONG_XUE
1      HUANG ZHI_ZUN
2      HUANG LAO_XIE
3        CHEN DA_MEI
4    SUN SHANG_XIANG
Name: 英文名, dtype: object

In [73]:
df.英文名.str.lower()

0     huang tong_xue
1      huang zhi_zun
2      huang lao_xie
3        chen da_mei
4    sun shang_xiang
Name: 英文名, dtype: object

In [74]:
df

,姓名,英文名,性别,身份证,身高,家庭住址,电话号码,收入
0,黄同学,Huang tong_xue,男,463895200003128433,mid:175_good,湖北广水,13434813546,1.1万
1,黄至尊,huang zhi_zun,women,429475199912122345,low:165_bad,河南信阳,19748672895,8.5千
2,黄老邪,Huang Lao_xie,men,420934199110102311,low:159_bad,广西桂林,16728613064,0.9万
3,陈大美,Chen Da_mei,女,431085200005230122,high:180_verygood,湖北孝感,14561586431,6.5千
4,孙尚香,sun shang_xiang,男,420953199509082345,low:172_bad,广东广州,19384683910,2.0万

### 同ljust,rjust,center等等

In [75]:
df.家庭住址.str.pad(10, fillchar='*')

0    ******湖北广水
1    ******河南信阳
2    ******广西桂林
3    ******湖北孝感
4    ******广东广州
Name: 家庭住址, dtype: object

In [76]:
df.家庭住址.str.pad(10,side='right', fillchar='*')

0    湖北广水******
1    河南信阳******
2    广西桂林******
3    湖北孝感******
4    广东广州******
Name: 家庭住址, dtype: object

In [93]:
df.家庭住址.str.center(10, fillchar='*')

0    ***湖北广水***
1    ***河南信阳***
2    ***广西桂林***
3    ***湖北孝感***
4    ***广东广州***
Name: 家庭住址, dtype: object

In [77]:
df

,姓名,英文名,性别,身份证,身高,家庭住址,电话号码,收入
0,黄同学,Huang tong_xue,男,463895200003128433,mid:175_good,湖北广水,13434813546,1.1万
1,黄至尊,huang zhi_zun,women,429475199912122345,low:165_bad,河南信阳,19748672895,8.5千
2,黄老邪,Huang Lao_xie,men,420934199110102311,low:159_bad,广西桂林,16728613064,0.9万
3,陈大美,Chen Da_mei,女,431085200005230122,high:180_verygood,湖北孝感,14561586431,6.5千
4,孙尚香,sun shang_xiang,男,420953199509082345,low:172_bad,广东广州,19384683910,2.0万

### 将单元格中的字符串重复多次

In [78]:
df.性别.str.repeat(3)

0                男男男
1    womenwomenwomen
2          menmenmen
3                女女女
4                男男男
Name: 性别, dtype: object

### 将字符串中某一段进行替换

In [79]:
df.电话号码.str.slice_replace(4,8, '*'*4)

0    1343****546
1    1974****895
2    1672****064
3    1456****431
4    1938****910
Name: 电话号码, dtype: object

### 将特定元素替换，可以使用正则，实现translate的效果

In [80]:
df.身高.str.replace(':', '_')

0         mid_175_good
1          low_165_bad
2          low_159_bad
3    high_180_verygood
4          low_172_bad
Name: 身高, dtype: object

In [94]:
df.身高.str.replace('[:_]', '-')

0         mid-175-good
1          low-165-bad
2          low-159-bad
3    high-180-verygood
4          low-172-bad
Name: 身高, dtype: object

In [81]:
df

,姓名,英文名,性别,身份证,身高,家庭住址,电话号码,收入
0,黄同学,Huang tong_xue,男,463895200003128433,mid:175_good,湖北广水,13434813546,1.1万
1,黄至尊,huang zhi_zun,women,429475199912122345,low:165_bad,河南信阳,19748672895,8.5千
2,黄老邪,Huang Lao_xie,men,420934199110102311,low:159_bad,广西桂林,16728613064,0.9万
3,陈大美,Chen Da_mei,女,431085200005230122,high:180_verygood,湖北孝感,14561586431,6.5千
4,孙尚香,sun shang_xiang,男,420953199509082345,low:172_bad,广东广州,19384683910,2.0万

In [82]:
df.收入.str.replace('\d\.\d', '正则', regex=True)

0    正则万
1    正则千
2    正则万
3    正则千
4    正则万
Name: 收入, dtype: object

### 将split分开的list分成两列，并命名

In [83]:
# df.身高.str.split(':')
df[['身高描述', 'final身高']] = df.身高.str.split(':', expand=True)

In [84]:
df

,姓名,英文名,性别,身份证,身高,家庭住址,电话号码,收入,身高描述,final身高
0,黄同学,Huang tong_xue,男,463895200003128433,mid:175_good,湖北广水,13434813546,1.1万,mid,175_good
1,黄至尊,huang zhi_zun,women,429475199912122345,low:165_bad,河南信阳,19748672895,8.5千,low,165_bad
2,黄老邪,Huang Lao_xie,men,420934199110102311,low:159_bad,广西桂林,16728613064,0.9万,low,159_bad
3,陈大美,Chen Da_mei,女,431085200005230122,high:180_verygood,湖北孝感,14561586431,6.5千,high,180_verygood
4,孙尚香,sun shang_xiang,男,420953199509082345,low:172_bad,广东广州,19384683910,2.0万,low,172_bad

In [85]:
df.姓名.str.len()

0    4
1    4
2    3
3    3
4    3
Name: 姓名, dtype: int64

### strip去除空格和换行符

In [86]:
df.姓名 = df.姓名.str.strip()

In [87]:
df.姓名.str.len()

0    3
1    3
2    3
3    3
4    3
Name: 姓名, dtype: int64

### 正则查找、提取符合条件的值

In [88]:
df.身高.str.findall('[a-zA-Z]+')

0         [mid, good]
1          [low, bad]
2          [low, bad]
3    [high, verygood]
4          [low, bad]
Name: 身高, dtype: object

In [89]:
df.身高.str.extract('([a-zA-Z]+)')

      0
0   mid
1   low
2   low
3  high
4   low

In [90]:
df.身高.str.extractall('([a-zA-Z]+)').unstack()

          0
match     0         1
0       mid      good
1       low       bad
2       low       bad
3      high  verygood
4       low       bad

In [91]:
df.身高.str.extract('([a-zA-Z]+).*?([a-zA-Z]+)', expand=True)

      0         1
0   mid      good
1   low       bad
2   low       bad
3  high  verygood
4   low       bad